@import url('https://fonts.googleapis.com/css?family=Ubuntu');

/* 
 COLOR PALETS 
a90011 - Dark Candy Apple Red
d11d27 - Fire Engine Red
FBEBD8 - Antique White 
FFFAEF - Floral White
FFFFFF - white
E53C38 - Cinnabar
*/



* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --font-size: calc(10px + 1vmin);
}
