@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css2?family=Laila:wght@500&family=Mallanna&family=Mukta:wght@200&display=swap');


/* 
 COLOR PALETS 
a90011 - Dark Candy Apple Red
d11d27 - Fire Engine Red
FBEBD8 - Antique White 
FFFAEF - Floral White
FFFFFF - white
E53C38 - Cinnabar

/===============================================================================================/


Title: Laila normal
font-family: 'Laila', serif;

Mid: Mallanna normal
font-family: 'Mallanna', sans-serif;

<p>: Ek Mukta 300
font-family: 'Mukta', sans-serif;



*/

* {
  box-sizing: border-box;
  font-family:  'Mallanna', sans-serif;
  width:  100%;
}


body {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FBEBD8 ;
  display: flex;

}

:root {
  --font-size: calc(10px + 1vmin);
}




/*****************************************************************/
/******************   HEADER   ***********************************/
/*****************************************************************/
.header_nav{
  display: flex;
  flex-direction: row;
  width: 100%;
  border-bottom: solid #E53C38 ;
  justify-content: space-between;
  background-color: #FFFAEF;
}

h1{
  margin: 0;
  padding: 0.75vh 0 0 0;
}

.login_nav_wrapper{
  padding: 5vh 0 1vh 1vw;
  display: flex;
  flex-direction: row;
}


.Header_logo , .login_link , .sign_up_link {
  text-decoration: none;
  color: #d11d27;
  margin: 0 1.2vh 0 1.2vh;
}

/*************************************************************/
/*************************************************************/
/*************************************************************/


/*============== FORM FOR LOG AND REG ========================================*/

.reg_wrap{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.reg_log_form_wrap {
  width: 90%;
  background-color: #E53C38;
  border-radius: .3vh;
  margin: 2vh 2vh 2vh 2vh;
  padding: .8vh .8vw .8vh 5vw;
}

.reg_intro  {
  padding: 0 2rem 0 2rem;
  color: #E53C38;
  font-size: 1.2rem;
  line-height: 1.2rem;
  margin: 2rem 0 1rem 0 ;
}

.reg_log_form , .login_label{
 color: #FBEBD8;
}

.reg_log_header , .log_intro{
  color: #FFFAEF;
  font-size: 2.5rem;
  margin: 0;
}

input{
  background: transparent;
  border: none;
  border-bottom: solid 1px #FFFAEF ;
  border-radius: 1.2px;
  font-size: 1.4rem;
  line-height: 4rem;
  color: #FFFAEF;
}


.reg_log_form_footer{
  display: flex;
  flex-direction: row-reverse; 
  margin: 2vh 2vh 0 0vh;

}

.Button {
  border: none;
  border-radius: .3vh;
  background-color: #FFFAEF;
  color:  #d11d27 ;
  margin: .8vh 0vw .8vh 2vh;
  font-size: 1.2rem;
  height: 3.5rem;
  width:  6rem;
}


.Login_Button_wrap{
  display: flex;
  justify-content: flex-end;
  padding-right: 2rem;
}
.Login_Button{
  margin: .8rem 0 .5rem 0 ;
}

.login_form_link{
  text-decoration: none;
  color: #FFFAEF;
  font-size: .99rem ;

}


/*****************************************************************************/
/*****************************************************************************/
/*****************************************************************************/

/************************************  LOGIN  ************************************/

/*****************************************************************/
/******************   DASHBOARD   ********************************/
/*****************************************************************/

#dashboard{
 display: flex;
 flex-direction: row;
 margin: 0;

}

.dash_col{
  display: flex;
  flex-direction: column;
 margin: 0.5rem;
}

.left_col{
  background-color: #E53C38;
  color: #FFFFFF;
  width: 60%;
  padding: 0.3rem;

}

.right_col{
  width: 40%;
  display: flex;
  margin-left: 0;
  align-items: center;
}

.word_list{
  list-style: none;
  margin: 0;
  padding: 0 .7rem 0 .7rem;
  font-size: .8rem;
}
.word_list > li {
  margin: 0;
}

.language_header{
  background-color: #FFFAEF;
  color: #E53C38;
  margin: 0;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.total_count_text{
  color: #d11d27 ;
  font-size: 1.2rem;
  margin: 1rem 0 1rem 0;
  font-weight : bold; 
  text-align: center;
}

.start_button{
  border: none;
  border-radius: .3vh;
  background-color: #d11d27;
  color: #FFFAEF  ;
  font-size: 1.3rem;
  height: 5rem;
}

/*****************************************************************************/
/*****************************************************************************/
/*****************************************************************************/

/*****************************************************************/
/******************   LEARNING VIEW   ****************************/
/*****************************************************************/

.learning_section{
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.learning_section h2{
  margin: 0 auto 2vh auto;
  color: #d11d27;
  font-size: 1.25rem;
}

.learning_section h3{
  margin: 1rem auto 0 auto;
  color: #544A40;
}

.progress_wrapper{
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  width: 60%;
}

.progress_wrapper button {
  flex: 1;
  border: 0px;
  background: none;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

.progress_wrapper .progress_bar_outer_shell {
  flex: 9;
}

.lang_question{
  background-color: #FFFFFF;
  color: #d11d27;
}

.submission_info_wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  background-color: #E53C38;
  height: 30%;
}

.submit_info{
  color: #FFFAEF;
  width: 60%;
  margin-bottom:0;
  line-height: 1.25rem;
}

.submission_button{ 
  margin: 4vh;
  border: 0px;
  color: #FFF;
  font-size: 1.25rem;
  font-weight: bold;
  background: #d11d27;
  border-radius: 2.5vw;
  box-shadow: -9px 9px #a90011;
  width: 60%;
  cursor: pointer;
  height: 4rem;
  transition: 0.5s;
}
.submission_button:hover{
  transform: scale(1.05);
  background-color: #c51b23;
}

.submission_button:active{
  transform: scale(0.95);
  border: 0px;
  outline: 0px;
}

.questions_wrapper{
  display: flex;
  flex-direction: row;
  height: 70%;
}

.questions_wrapper label{
  font-weight: bold;
  color: #544A40;
}

.lang_question{
  margin: 0;
  text-align: center;
  border-radius: 1vw;
  font-size: 1.2rem;
  width: 70%;
  height: 100%;
}

.lang_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.eng_word_input_container input{
  border-bottom: 1px solid #a90011;
}


/*****************************************************************************/
/*****************************************************************************/
/*****************************************************************************/

/*****************************************************************/
/*************************   MISC   ******************************/
/*****************************************************************/

.progress_bar_outer_shell{
  margin: 2rem auto 2rem auto;
  background-color: grey;
  border-radius: 1vw;
  background-color: #FFFAEF;
}

.progress_bar_progress_content{
  width: 50%;
  height: 1.8rem;
  background-color: #d11d27;
  border-radius: 1vw;
}

.error{
  color: #d11d27;
  background-color: #FBEBD8;
  font-size: 4rem;
}

.DisplayScore{
  
}

/*****************************************************************************/
/*****************************************************************************/
/*****************************************************************************/

@media only screen and (min-width : 800px){
  body{
    max-width:800px;
    margin: auto;
  }
  .dash_col{
    margin: 2rem 5rem 0 5rem;
  }
  .reg_log_form_wrap{
    margin: auto;
    margin-top: 2rem;
    padding: .2rem 6.5rem .2rem 2rem;
  }
}